@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Roboto+Slab:wght@100;200;300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
}

.scrool-none {
  overflow: hidden;
}

.open-menu {
  display: none;
}

.mt-last {
  display: none;
}

.title-right {
  position: relative;
}

.title-right::before {
  width: 176%;
  position: absolute;
  content: '';
  border-top: 5px solid #000;
  top: -10px;
}

.title-right::after {
  width: 176%;
  bottom: -10px;
  left: 0;
  position: absolute;
  content: '';
  border-top: 2px solid #000;
}

.item {
  position: absolute;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .time span {
  background: #6c6c6c;
  color: #fff;
  padding: 0 15px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 0.5;
}

.mobil-menu .mobil-container nav .list-mobil {
  overflow-y: auto;
  background: #000;
  position: fixed;
  top: 118px;
  left: -100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 110px);
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

.mobil-menu .mobil-container nav .list-mobil li {
  padding: 20px 0;
  width: 95%;
  border-bottom: 1px solid rgba(102, 51, 153, 0.24);
}

.mobil-menu .mobil-container nav .list-mobil li a {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.mobil-menu .mobil-container nav .list-mobil.active {
  left: 0;
}

.item-one {
  margin-top: 17px;
}

.item-one .cnt1 {
  padding-left: 10px;
  margin-bottom: 5px;
  background: #6c6c6c;
  text-align: left;
  font: normal normal normal 30px/41px Roboto Slab;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 30px;
  padding-right: 70px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.item-one .cnt2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 10px;
  margin-bottom: 20px;
  background: #6c6c6c;
  text-align: left;
  font: normal normal normal 30px/41px Roboto Slab;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 30px;
  padding-right: 100px;
}

.item-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-two .cnt3 {
  margin-bottom: 2px;
  color: #FFFFFF;
  padding: 0 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  background: #6c6c6c;
}

.item-two .cnt4 {
  color: #FFFFFF;
  padding: 0 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  background: #6c6c6c;
  margin-bottom: 28px;
}

.xeber-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  color: #BE0000;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  opacity: 0.7;
  padding-bottom: 11px;
  padding-top: 13px;
  font-size: 18px;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  height: 400px !important;
}

.swiper-wrapper.two {
  margin-top: 17px !important;
  height: 60px !important;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide-active {
  height: 400px !important;
}

.mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 60px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#header {
  height: 200px;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .container {
  position: relative;
}

#header .header-orta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-orta span {
  font-weight: 500;
}

#header .header-orta span span {
  font-weight: normal;
}

#header .header-sag img {
  width: 300px;
}

#header .container .row .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bread {
  position: absolute;
  top: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bread .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100% !important;
}

.header {
  padding-bottom: 145px;
  height: 290px !important;
}

.menu {
  position: absolute;
  bottom: -75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu nav ul li a {
  color: #fff;
  text-transform: uppercase;
  margin-left: 13px;
  font-size: 18px;
}

.banner .col-12 {
  margin-top: 13px;
  margin-bottom: 16px;
}

.container {
  position: relative;
}

img {
  max-width: 100%;
}

.col-lg-4,
.col-lg-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gundem-sol {
  width: 440px;
}

.gundem-sol img {
  width: 100%;
  height: 335px;
}

.gundem-sol .gundem-text {
  background: #fff;
}

.gundem-sol .gundem-text a {
  display: block;
  padding-top: 22px;
  padding-bottom: 47px;
  letter-spacing: 0px;
  padding-left: 10px;
  line-height: 1.2;
  padding-right: 10px;
  margin-bottom: 0;
  color: #000000;
  opacity: 1;
  font-size: 24px;
}

.haber-card {
  margin-top: 15px;
}

.haber-card .col-lg-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  margin-bottom: 10px;
}

.haber-card .col-lg-2 .card-item .card-text {
  background: #000;
  text-align: center;
}

.haber-card .col-lg-2 .card-item .card-text .card-content {
  padding: 10px 5px;
  color: #fff;
  font-size: 14px;
  line-height: 1.1;
  display: block;
}

.gunder-orta {
  width: 212px;
  margin-top: 14px;
}

.gunder-orta img {
  width: 100%;
  height: 150px;
}

.gunder-orta .gundem-text {
  background: #fff;
}

.gunder-orta .gundem-text a {
  display: block;
  text-align: left;
  font: normal normal normal 15px/20px Frank Ruhl Libre;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 15px;
  padding-top: 14px;
  margin: 0 5px !important;
}

.gunder-orta .gundem-text span {
  margin: 0 5px;
  padding-bottom: 10px;
  display: block;
  color: #A7A2A2;
  font-size: 15px;
}

.gundem-sag {
  margin-top: 27px;
}

.gundem-sag img {
  height: 600px;
}

.gundem-top {
  position: absolute;
  top: 30px;
  width: 72.7%;
  border-top: 4px solid #000;
  border-bottom: 2px solid #000;
}

.gundem-top h3 {
  padding: 3px 0;
}

.reklam {
  margin-top: 27px;
}

.reklam2 {
  padding-top: 32px;
}

.dunya {
  margin-top: 75px;
}

.dunya .container {
  position: relative;
}

.dunya .container .top-title {
  position: absolute;
  top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88%;
}

.dunya .container .top-title .title-left {
  padding: 5px 0;
  border-top: 5px solid #000;
  width: 82.7%;
  border-bottom: 2px solid #000;
}

.gundem-sag-two {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  padding: 0 10px;
  width: 100%;
}

.gundem-sag-two:nth-child(odd) {
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.gundem-sag-two img {
  width: 45px;
  margin-right: 7px;
}

.gundem-sag-two .gundem-item a {
  display: block;
  padding: 0;
  font-size: 13px;
  color: #000000;
}

.gundem-sag-two .gundem-item span {
  font-size: 12px;
  color: #A7A2A2;
  opacity: 1;
}

.gundem .gundem-col {
  margin-top: 100px;
}

.twitter {
  position: absolute;
  top: 25px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fff;
}

.twitter .twit-flex {
  padding-bottom: 5px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.twitter .twit-flex .title-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.twitter .twit-flex .twit-name .name {
  color: #000;
}

.twitter .twit-flex .twit-name .tag {
  color: rgba(0, 0, 0, 0.6);
}

.twitter .twit-item a .link-img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  height: 131px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 15px;
}

.twitter .twit-item .twit-content {
  margin: 0;
  padding: 15px 0;
  font-size: 14px;
}

.twit-block {
  display: none;
}

.main-for-haber {
  background: #fff;
}

.haber .container .col-lg-9 .haber-left {
  padding-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.haber .container .col-lg-9 .haber-left img {
  height: 400px;
}

.haber .container .col-lg-9 .haber-left .top-haber {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  margin: 15px auto;
  background: gray;
  font-weight: bold;
  padding: 0 10px;
  font-size: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.haber .container .col-lg-9 .haber-left .get-link-haber {
  color: #000;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
}

.haber .container .col-lg-9 .haber-left .link-desc {
  text-align: center;
  margin: 20px 0;
  color: #000;
  font-size: 19px;
}

.haber .container .col-lg-9 .haber-flex {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 .haber-title-img {
  width: 200px;
  height: 220px;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 .name-haber {
  font-weight: 500;
  margin-top: 5px;
  text-align: end;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 .time-haber {
  font-weight: 500;
  margin-top: 10px;
  font-size: 15px;
  text-align: end;
  margin-bottom: 15px;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 ul {
  margin-top: 10px;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 ul li a {
  width: 35px;
  height: 35px;
  background: #5c5c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 ul li a:last-child {
  margin-left: 0;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 ul li a i {
  color: #FFF;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 .lorem-flex {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.haber .container .col-lg-9 .haber-flex .haber-left-1 .lorem-flex p {
  color: #fff;
  padding: 5px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #5c5c5c;
}

.haber .container .col-lg-9 .haber-flex .haber-left-2 {
  padding-left: 20px;
}

.haber .container .col-lg-9 .haber-flex .haber-left-2 p {
  font-size: 18px;
  color: #000;
}

.haber .container .col-lg-9 .haber-flex .haber-left-2 .share {
  padding: 30px 0;
  border-top: 3px solid gray;
}

.haber .container .col-lg-9 .haber-flex .haber-left-2 .share .sh-span {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
  white-space: nowrap;
}

.haber .container .col-lg-9 .haber-flex .haber-left-2 .share ul {
  margin: 0;
}

.haber .container .col-lg-9 .haber-flex .haber-left-2 .share ul li a {
  width: 35px;
  height: 35px;
  background: #5c5c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.haber .container .col-lg-9 .haber-flex .haber-left-2 .share ul li a:last-child {
  margin-left: 0;
}

.haber .container .col-lg-9 .haber-flex .haber-left-2 .share ul li a i {
  color: #FFF;
}

.haber .container .col-lg-3 .haber-right span {
  color: #999999;
  margin-bottom: 5px;
}

.haber .container .col-lg-3 .haber-right h3 {
  margin-top: 40px;
  font-size: 23px;
  line-height: 30px;
}

.haber .container .col-lg-3 .haber-right .form2 {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.haber .container .col-lg-3 .haber-right .form2 input {
  width: 83%;
  outline: none;
  background: #e9e9e9;
  border: none;
  padding-left: 45px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.haber .container .col-lg-3 .haber-right .form2 input::-webkit-input-placeholder {
  color: #000;
}

.haber .container .col-lg-3 .haber-right .form2 input:-ms-input-placeholder {
  color: #000;
}

.haber .container .col-lg-3 .haber-right .form2 input::-ms-input-placeholder {
  color: #000;
}

.haber .container .col-lg-3 .haber-right .form2 input::placeholder {
  color: #000;
}

.haber .container .col-lg-3 .haber-right .form2 button {
  border: none;
}

.haber .container .col-lg-3 .haber-right .form2 button .submit-icon {
  padding: 0 10px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffcd00;
  color: gray;
}

.haber .container .col-lg-3 .haber-right .form2 .form-abs {
  position: absolute;
  top: 18px;
  left: 15px;
}

.haber .container .col-lg-3 .haber-right .form2 .form-abs i {
  font-size: 22px;
}

.none-haber {
  display: none;
}

#footer {
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.836);
}

#footer .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .col-lg-4 img {
  width: 100%;
}

#footer .col-lg-4 .footer-left p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

#footer .col-lg-4 .footer-orta .footer-title {
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

#footer .col-lg-4 .footer-orta .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

#footer .col-lg-4 .footer-orta .footer-flex a {
  line-height: 1;
  margin-left: 10px;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

#footer .col-lg-4 .footer-orta .footer-flex img {
  width: 140px;
}

#footer .col-lg-4 .footer-sag .footer-title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

#footer .col-lg-4 .footer-sag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .col-lg-4 .footer-sag ul li {
  margin-right: 10px;
}

#footer .col-lg-4 .footer-sag ul li a {
  display: block;
  background: #3f3e3ec2;
  padding: 10px 15px;
}

#footer .col-lg-4 .footer-sag ul li a i {
  color: #fff;
}

#footer .col-lg-4 .footer-sag form {
  margin-top: 40px;
}

#footer .col-lg-4 .footer-sag form .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .col-lg-4 .footer-sag form .form-flex #email {
  font-size: 13px;
  line-height: 18px;
  background: #2d2e30;
  border: 1px solid transparent;
  color: #ccc;
  height: 38px;
  padding: 10px 20px;
  padding-right: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px 0 0 3px;
}

#footer .col-lg-4 .footer-sag form .form-flex .form-btn {
  background-color: #1ABC9C;
  border: 1px solid #1ABC9C;
  height: 38px;
  padding: 6px 14px;
  color: #fff;
  border-radius: 0 3px 3px 0;
  white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
  .bread {
    top: 140px;
  }
  .header {
    padding-top: 45px;
    height: 230px !important;
  }
  .open-menu {
    display: block;
    font-size: 25px;
  }
  #header .header-orta {
    display: none;
  }
  #header {
    overflow: hidden;
  }
  #header .header-sag {
    padding-right: 10px;
  }
  #header .header-sag img {
    display: none;
  }
  .container {
    max-width: 100% !important;
  }
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  form {
    margin-top: 40px;
  }
  form .form-flex #email {
    width: 240px !important;
  }
}

@media only screen and (max-width: 992px) {
  .haber .container .col-lg-9 .haber-left {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .haber .container .col-lg-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .haber .haber-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .twit-block {
    position: relative;
    display: block !important;
    width: 95%;
    max-width: 500px;
    margin: 0 auto 80px;
    border-radius: 15px;
  }
  .twit-block .twit-item .link-img {
    height: 350px !important;
  }
  .haber-card {
    margin-top: 30px !important;
  }
  .haber-card .container .row .col-lg-2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  .haber-card .container .row .col-lg-2 .card-item {
    width: 220px;
  }
  .gundem .container .row .col-lg-4 {
    margin-top: 120px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  .gundem .container .row .col-lg-5 .col-md-6 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
  }
  .gundem .container .row .col-lg-3 {
    display: none;
  }
  .gundem .gundem-top {
    width: 95%;
  }
  .none {
    display: none;
  }
  .top-title {
    margin-top: 15px;
    width: 95% !important;
  }
  .top-title .title-left {
    width: 100% !important;
  }
  .mt-last {
    display: block !important;
    width: 56%;
    margin: 25px 0;
  }
  .dunya .container .row .col-lg-4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
  .dunya .container .row .col-lg-5 {
    margin-top: 20px;
  }
  .dunya .container .row .col-lg-5 .col-md-6 {
    margin-bottom: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gundem .gundem-col {
    margin-top: 0;
  }
  .twitter {
    display: none;
  }
  .haber-card {
    margin-top: 10px;
  }
  #footer .col-lg-4 {
    margin-bottom: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  #header {
    height: 130px;
  }
  .haber .haber-left .haber-flex .haber-left-1 {
    display: none !important;
  }
  .haber .haber-left .haber-flex .haber-left-2 {
    margin-top: 20px;
  }
  .none-haber {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .none-haber .haber-title-img {
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 280px;
  }
  .none-haber .name-haber {
    font-weight: 500;
    margin-top: 5px;
    text-align: end;
  }
  .none-haber .time-haber {
    font-weight: 500;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  .none-haber ul {
    margin-top: 10px;
  }
  .none-haber ul li a {
    width: 35px;
    height: 35px;
    background: #5c5c5c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
  }
  .none-haber ul li a:last-child {
    margin-left: 0;
  }
  .none-haber ul li a i {
    color: #FFF;
  }
  .none-haber .lorem-flex {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .none-haber .lorem-flex p {
    color: #fff;
    padding: 5px 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #5c5c5c;
  }
  .item {
    left: 10px;
  }
  .item .item-one .cnt1,
  .item .item-one .cnt2 {
    font-size: 19px;
    width: 95%;
    padding-right: 0;
  }
  .item .item-two .cnt3,
  .item .item-two .cnt4 {
    white-space: normal;
    font-size: 17px;
    padding-right: 5px;
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .haber .container .col-lg-9 .haber-left img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .bread {
    top: 120px;
  }
  .haber .container .col-lg-9 .haber-left img {
    height: 300px;
  }
  .haber .container .col-lg-9 .haber-left .get-link-haber {
    font-size: 20px;
    line-height: 30px;
  }
  .haber .container .col-lg-9 .haber-left .img-bottom-p {
    margin: 10px 0;
    text-align: start;
    font-size: 18px;
  }
  .haber .container .col-lg-9 .haber-left-2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .haber .haber-flex {
    margin-top: 0px !important;
  }
  #header .header-sol img {
    max-width: 145px;
  }
  .item .item-one .cnt1,
  .item .item-one .cnt2 {
    font-size: 17px;
    line-height: 23px;
    width: 95%;
  }
  .item .item-one .cnt2 {
    margin-bottom: 10px !important;
  }
  .item .item-two .cnt3,
  .item .item-two .cnt4 {
    white-space: normal;
    font-size: 15px;
    width: 90%;
    line-height: 20px;
    padding-left: 10px;
  }
  .item .item-two .cnt4 {
    margin-bottom: 20px;
  }
  .item .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    font-size: 13px;
    white-space: nowrap;
  }
  .gundem .gundem-top {
    width: 92%;
  }
  .top-title {
    margin-top: 15px;
    width: 92% !important;
  }
  .top-title .title-left {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */