@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Roboto+Slab:wght@100;200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

body {
    background: #F2F2F2;
}

.scrool-none {
    overflow: hidden;
}

.open-menu {
    display: none;
}

.mt-last {
    display: none;
}

.title-right {
    position: relative;

    &::before {
        width: 176%;
        position: absolute;
        content: '';
        border-top: 5px solid #000;
        top: -10px;
    }

    &::after {
        width: 176%;
        bottom: -10px;
        left: 0;
        position: absolute;
        content: '';
        border-top: 2px solid #000;
    }
}

.item {
    position: absolute;
    top: 0;
    margin-top: 80px;
    margin-left: 53px;
    display: flex;
    flex-direction: column;

    .time {
        display: flex;

        span {
            background: #6c6c6c;
            color: #fff;
            padding: 0 15px;
            background: transparent linear-gradient(180deg, #000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
            opacity: 0.5;
        }
    }
}

.mobil-menu {
    .mobil-container {
        nav {
            .list-mobil {
                overflow-y: auto;
                background: #000;
                position: fixed;
                top: 129px;
                left: -100%;
                z-index: 1000;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;
                height: calc(100vh - 135px);
                transition: 350ms ease;

                li {
                    padding: 20px 0;
                    width: 95%;
                    border-bottom: 1px solid rgba(102, 51, 153, 0.24);

                    a {
                        font-size: 18px;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }

                &.active {
                    left: 0;
                }
            }
        }
    }
}

.item-one {
    margin-top: 17px;

    .cnt1 {
        padding-left: 10px;
        margin-bottom: 5px;
        background: #6c6c6c;
        text-align: left;
        font: normal normal normal 30px/41px Roboto Slab;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 30px;
        padding-right: 70px;
        width: max-content;
    }

    .cnt2 {
        width: max-content;
        padding-left: 10px;
        margin-bottom: 20px;
        background: #6c6c6c;
        text-align: left;
        font: normal normal normal 30px/41px Roboto Slab;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 30px;
        padding-right: 100px;
    }
}

.item-two {
    display: flex;
    flex-direction: column;

    .cnt3 {
        margin-bottom: 2px;
        color: #FFFFFF;
        padding: 0 20px;
        width: max-content;
        font-size: 20px;
        background: #6c6c6c;
    }

    .cnt4 {
        color: #FFFFFF;
        padding: 0 20px;
        width: max-content;
        font-size: 20px;
        background: #6c6c6c;
        margin-bottom: 28px;
    }
}

.xeber-title {
    width: max-content;
    font-weight: bold;
    color: #BE0000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    opacity: 0.7;
    padding-bottom: 11px;
    padding-top: 13px;
    font-size: 18px;
}

.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-wrapper {
    height: 400px !important;
}

.swiper-wrapper {
    &.two {
        margin-top: 17px !important;
        height: 60px !important;
    }
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.swiper-slide-active {
    height: 400px !important;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 60px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header {
    height: 200px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
}

#header .container {
    position: relative;
}

#header {
    .header-orta {
        display: flex;
        align-items: center;

        span {
            font-weight: 500;

            span {
                font-weight: normal;
            }
        }
    }
}

#header {
    .header-sag {
        img {
            width: 300px;
        }
    }
}

#header {
    .container {
        .row {
            .col-4 {
                display: flex;
                align-items: center;
            }
        }
    }
}

.menu {
    position: absolute;
    bottom: -70px;
    display: flex;
    justify-content: center;
    width: 100%;

    nav {
        ul {
            display: flex;

            li {
                a {
                    color: #fff;
                    text-transform: uppercase;
                    margin-left: 13px;
                    font-size: 18px;
                }
            }
        }
    }
}

.banner {
    .col-12 {
        margin-top: 13px;
        margin-bottom: 16px;
    }
}

.container {
    position: relative;
}

img {
    max-width: 100%;
}

.col-lg-4,
.col-lg-5 {
    display: flex;
    align-items: flex-end;
}

.gundem-sol {
    width: 440px;

    img {
        width: 100%;
        height: 335px;
    }

    .gundem-text {
        background: #fff;

        a {
            display: block;
            padding-top: 22px;
            padding-bottom: 47px;
            letter-spacing: 0px;
            padding-left: 10px;
            line-height: 1.2;
            padding-right: 10px;
            margin-bottom: 0;
            color: #000000;
            opacity: 1;
            font-size: 24px;
        }
    }
}

.haber-card {
    margin-top: 15px;

    .col-lg-2 {
        display: flex;
        width: 160px;
        margin-bottom: 10px;

        .card-item {
            .card-text {
                background: #000;
                text-align: center;

                .card-content {
                    padding: 10px 5px;
                    color: #fff;
                    font-size: 14px;
                    line-height: 1.1;
                    display: block;
                }
            }
        }
    }
}

.gunder-orta {
    width: 212px;
    margin-top: 14px;

    img {
        width: 100%;
        height: 150px;
    }

    .gundem-text {
        background: #fff;

        a {
            display: block;
            text-align: left;
            font: normal normal normal 15px/20px Frank Ruhl Libre;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 15px;
            padding-top: 14px;
            margin: 0 5px !important;
        }

        span {
            margin: 0 5px;
            padding-bottom: 10px;
            display: block;
            color: #A7A2A2;
            font-size: 15px;

        }
    }
}

.gundem-sag {
    margin-top: 27px;

    img {
        height: 600px;
    }
}

.gundem-top {
    position: absolute;
    top: 30px;
    width: 72.7%;
    border-top: 4px solid #000;
    border-bottom: 2px solid #000;

    h3 {
        padding: 3px 0;
    }
}

.reklam {
    margin-top: 27px;
}

.reklam2 {
    padding-top: 32px;
}

.dunya {
    margin-top: 75px;

    .container {
        position: relative;

        .top-title {
            position: absolute;
            top: -60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 88%;

            .title-left {
                padding: 5px 0;
                border-top: 5px solid #000;
                width: 82.7%;
                border-bottom: 2px solid #000;
            }
        }
    }
}

.gundem-sag-two {
    margin-top: 13px;
    display: flex;
    align-items: center;
    height: 84px;
    padding: 0 10px;
    width: 100%;

    &:nth-child(odd) {
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }

    img {
        width: 45px;
        margin-right: 7px;
    }

    .gundem-item {
        a {
            display: block;
            padding: 0;
            font-size: 13px;
            color: #000000;
        }

        span {
            font-size: 12px;
            color: #A7A2A2;
            opacity: 1;
        }
    }
}

.gundem .gundem-col {
    margin-top: 100px;
}

.twitter {
    position: absolute;
    top: 25px;
    padding: 10px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;

    .twit-flex {
        padding-bottom: 5px;
        padding-top: 15px;
        display: flex;
        align-items: center;

        .title-img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            border-radius: 50%;
        }

        .twit-name {
            .name {
                color: #000;
            }

            .tag {
                color: rgba(0, 0, 0, .6)
            }
        }
    }

    .twit-item {
        a {
            .link-img {
                height: max-content;
                width: 100%;
                height: 137px;
                object-fit: cover;
                object-position: center center;
                border-radius: 15px;
            }
        }

        .twit-content {
            margin: 0;
            padding: 15px 0;
            font-size: 14px;
        }
    }
}

.twit-block {
    display: none;
}

#footer {
    padding: 50px 0;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.836);

    .col-lg-4 {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        img {
            width: 100%;
        }

        .footer-left {
            p {
                margin-top: 10px;
                color: rgba(255, 255, 255, 0.7);
                font-size: 14px;
            }
        }

        .footer-orta {
            .footer-title {
                font-weight: bold;
                color: #fff;
                margin-bottom: 20px;
            }

            .footer-flex {
                display: flex;
                margin-bottom: 10px;

                a {
                    line-height: 1;
                    margin-left: 10px;
                    display: block;
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 14px;
                }

                img {
                    width: 140px;
                }

            }
        }

        .footer-sag {
            .footer-title {
                color: #fff;
                font-weight: bold;
                margin-bottom: 20px;
            }

            ul {
                display: flex;

                li {
                    margin-right: 10px;

                    a {
                        display: block;
                        background: #3f3e3ec2;
                        padding: 10px 15px;

                        i {
                            color: #fff;
                        }
                    }
                }
            }

            form {
                margin-top: 40px;

                .form-flex {
                    display: flex;
                    align-items: center;

                    #email {
                        font-size: 13px;
                        line-height: 18px;
                        background: #2d2e30;
                        border: 1px solid transparent;
                        color: #ccc;
                        height: 38px;
                        padding: 10px 20px;
                        padding-right: 100px;
                        box-shadow: none;
                        border-radius: 3px 0 0 3px;
                    }

                    .form-btn {
                        background-color: #1ABC9C;
                        border: 1px solid #1ABC9C;
                        height: 38px;
                        padding: 6px 14px;
                        color: #fff;
                        border-radius: 0 3px 3px 0;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .open-menu {
        display: block;
        font-size: 25px;
    }

    #header .header-orta {
        display: none;
    }

    #header {
        overflow: hidden;

        .header-sag {
            padding-right: 10px;

            img {
                display: none;
            }
        }
    }

    .container {
        max-width: 100% !important;
    }

    .menu {
        display: none;
    }
}

@media only screen and (max-width:1024px) {
    form {
        margin-top: 40px;

        .form-flex {
            #email {
                width: 240px !important;
            }
        }
    }
}

@media only screen and (max-width:992px) {
    .twit-block {
        position: relative;
        display: block !important;
        width: 95%;
        max-width: 500px;
        margin: 0 auto 35px;
        border-radius: 15px;

        .twit-item {
            .link-img {
                height: 350px !important;
            }
        }
    }

    .haber-card {
        margin-top: 30px !important;

        .container {
            .row {
                .col-lg-2 {
                    justify-content: center;
                    margin-bottom: 25px;

                    .card-item {
                        width: 220px;
                    }
                }
            }
        }
    }

    .gundem {
        .container {
            .row {
                .col-lg-4 {
                    margin-top: 120px;
                    justify-content: center;
                    margin-bottom: 25px;
                }

                .col-lg-5 {
                    .col-md-6 {
                        justify-content: center;
                        display: flex;
                        margin-bottom: 25px;
                    }
                }

                .col-lg-3 {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .gundem-top {
            width: 95%;
        }
    }

    .none {
        display: none;
    }

    .top-title {
        margin-top: 15px;
        width: 95% !important;

        .title-left {
            width: 100% !important;
        }
    }

    .mt-last {
        display: block !important;
        width: 56%;
        margin: 25px 0;
    }

    .dunya {
        .container {
            .row {
                .col-lg-4 {
                    justify-content: center;
                    margin-top: 40px;
                }

                .col-lg-5 {
                    margin-top: 20px;

                    .col-md-6 {
                        margin-bottom: 25px;
                        justify-content: center;
                        display: flex;
                    }
                }

            }
        }
    }

    .gundem {
        .gundem-col {
            margin-top: 0;
        }
    }

    .twitter {
        display: none;
    }

    .haber-card {
        margin-top: 10px;
    }

    #footer {
        .col-lg-4 {
            margin-bottom: 20px;
            justify-content: flex-start;
        }
    }
}

@media only screen and (max-width:768px) {
    #header {
        height: 130px;
    }

    .item {
        padding-left: 10px;
        margin-top: 70px;

        .item-one {

            .cnt1,
            .cnt2 {
                font-size: 19px;
                width: 95%;
                padding-right: 0;
            }
        }

        .item-two {

            .cnt3,
            .cnt4 {
                white-space: normal;
                font-size: 17px;
                padding-right: 5px;
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width:500px) {
    #header {
        .header-sol {
            img {
                max-width: 145px;
            }
        }
    }

    .item {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;

        .item-one {

            .cnt1,
            .cnt2 {
                font-size: 17px;
                line-height: 27px;
                width: 95%;
            }
        }

        .item-two {

            .cnt3,
            .cnt4 {
                white-space: normal;
                font-size: 15px;
                width: 90%;
                line-height: 20px;
                padding-left: 10px;
            }

            .cnt4 {
                margin-bottom: 20px;
            }
        }
    }

    .gundem {
        .gundem-top {
            width: 92%;
        }
    }

    .top-title {
        margin-top: 15px;
        width: 92% !important;

        .title-left {
            width: 100% !important;
        }
    }
}